<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
</head>
<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<title>Select Images</title>
<style>

.container {
    display: block;
    position: absolute;
    height: auto;
    bottom: 0;
    top: 80px;
    left: 20%;
    right: 0;
}

.left {
    width: calc(30% - 10px);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: auto;
    display: block;
    margin: 10px 0 10px 10px;
}

.right {
    border-left: 1px solid gray;
    margin: 10px 10px 10px calc(30% + 10px);
    padding-left: 10px;
}
#imageList {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 10px;
    height: 70%;
}
 #description{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;    
 }

</style>
<script type="text/javascript">
	//var image_name="Akola_Dry_1";
	//var image_path="{% static '/Gmap/images/'%}/"+image_name+".jpg";
</script>

	<body>  

    <center><h2>Select Image </h2></center>    
		<div class="container" id="container">
            
        	<div class="left"> 
                <h4> <a href="labelwells">< Go Back To Labeling</a> </h4>                
				<label for="imageList"></label><select name="imageList" id="imageList" size="10" multiple></select>	
                <center><h5><b>Total Images Captured: {{totalImages}}</b></h5></center><br>
                <div id="description" style="display: none">
                    SHORTCUTS:
                    <ul>
                        <!-- <li>
                            Mouse WHEEL - zoom in/out image
                        </li> -->
                        <!-- <li>
                            Mouse RIGHT BUTTON - pan image
                        </li> -->
                        <!-- <li>
                            Arrows LEFT and RIGHT - cycle images
                        </li> -->
                        <li>
                            Arrows Up and DOWN - cycle images
                        </li>
                        <!-- <li>
                            Key DELETE - remove selected Bbox
                        </li> -->
                    </ul>

                    <!-- <p>Version: 0.2.3 |  Copyright © 2018 Draining Sun.</p> -->
                </div>
                 <center>
                    <div>                        
                        <a id='btnApprove' href="#" class="btn btn-success">                   
                            <span class="glyphicon glyphicon glyphicon-thumbs-up"></span> Approve
                        </a>
                        <a id='btnDisapprove' href="#" class="btn btn-warning">                   
                            <span class="glyphicon glyphicon glyphicon-thumbs-down"></span> Disapprove
                        </a>
                        <a id='btnDelete' href="#" class="btn btn-danger">                   
                            <span class="glyphicon glyphicon-remove"></span> Delete
                        </a>
                        <br/><br/>
                        <a id='toggleAnnotations' href="#" class="btn btn-default">                   
                            <span id='eye' class="glyphicon glyphicon glyphicon-eye-close"></span> Toggle Annotations
                        </a>                        
                    </div>
                </center>
			</div>
			 <div class="right" id="right">
			 	<canvas id='canvas' width="640" height="640"></canvas>
				<br/>
				<form id='capture_form' name='capture_form' method="post"  action="ImageLabelingTool">
		          <input name='imageName' placeholder='Enter Image Name' type="hidden" value="" id="imageName">
                  <div style="height:100px">
                    <div style="display:none;float:left;height:50px;">
                        <p>Is Annotated? : <span id='is_annotated'> No </span> </p> 
                    </div>
                    <div style="height:30px;margin:5px auto;">
                        <div style="float:left; margin-right:10px; height:17px;width:17px;border: 3px solid  black;background-color:cyan;border-style: ridge;">
                            
                        </div> 
                        <div style="float:left;height:10px;width:200px;margin-right: 20px">
                            <p> : Wells ({{ wells }})</p>
                        </div>                    
                    </div>
                    <br>
                    <a id='downloadDataset' href="downloaddatasetwells" class="btn btn-default">                   
                            <span id='eye' class="glyphicon glyphicon glyphicon-save"></span> Download  Dataset
                    </a> 
                                    
                   

                  </div>
                  <div style="height:30px;width:60px;margin-left:30px">
		             <!--  <input type="submit" id="btnSave" value="Annotate"/> -->
		              <input type="hidden" name='canvasImg64' id="canvasImg64">
                  </div>
		          <br>
                  
		        <!--  <div id="output"><h5>latlong</h5></div>    -->
		        </form>

				<!-- <input type="button" value="Check" id='check' onclick="b64()"> -->
			 </div>
		</div>
			
		
		
	</body>
</html>
<script type="text/javascript">	
	var imageList = document.getElementById("imageList")
	var canvas = document.getElementById("canvas");
	var ctx = canvas.getContext("2d");
	var imageListIndex=0;
    var annots='';
    var showAnnotations=true;
	canvas.width = 640;
	canvas.height = 640;

	function setCanvasBackground()
	{
		var background = new Image();
        var txtAnn = document.getElementById("is_annotated");
        var selectedOption=imageList.options[imageListIndex];
		selectedImgName=selectedOption.innerHTML;
        var approveFlag=selectedOption.getAttribute("approveFlag")            
        if(approveFlag=="true"){            
            selectedOption.style.backgroundColor="rgba(0,255,0,0.3)"            
            $('#btnApprove').hide()
            $('#btnDisapprove').show()
        }
        else{
            selectedOption.style.backgroundColor="rgba(240,173,78,0.3)"
            $('#btnApprove').show()
            $('#btnDisapprove').hide()
        }        
        txtAnn.innerHTML=imageList.options[imageListIndex].getAttribute('data');
		var image_path="{% static '/Gmapv2/images/Wells/'%}"+selectedImgName;        
		background.src = image_path;
		// Make sure the image is loaded first otherwise nothing will draw.
		background.onload = function(){
		    ctx.drawImage(background,0,0);   
		    var canvasImg = canvas.toDataURL(); 
		    var hidden = document.getElementById("canvasImg64");
	        hidden.value=canvasImg;

            var canvas1 = document.getElementById('canvas');
            var ctx1 = canvas.getContext('2d');

            $.ajax({
                type:"POST",
                    url: 'ajax/get_annotations',
                    data: {                
                        'image_name': selectedImgName               
                    },
                    dataType: 'json',
                    success: function (data) {                
                        annots=data.annotations;
                        //console.log(annots)
                        setAnnotations();
                    },         
                    error: function(xhr, textStatus, errorThrown) {
                        console.log(errorThrown)
                        alert("Something went wrong.");
                    }
            });
                    
            


		}
		
		var nameEle = document.getElementById("imageName");
	    nameEle.value=selectedImgName;
	}
	function initialize()
	{
		loadImageNames()
		setCanvasBackground()
		listenKeyboard()
	}
	
    function loadImageNames()
    {
    	
    	let i=0;
    	//let imgName="";
    	let option=null;

    	{% for img in images %}   
    		var imgName="{{ img.image_name }}";
            isAnnotated="{{ img.is_annotated }}";
            isApproved="{{ img.is_approved}}";
    		option = document.createElement("option");
    		option.value = imgName;
            option.innerHTML = imgName;
            if(isAnnotated=="True"){
                option.setAttribute('data',"Yes")
            }
            else{
                option.setAttribute('data',"No")   
            }
            if(isApproved=="True"){
                option.setAttribute('approveFlag',"true")
                option.style.backgroundColor ="rgba(0,255,0,0.3)"                
            }
            else{
                option.setAttribute('approveFlag',"false") 
                option.style.backgroundColor="rgba(240,173,78,0.3)"  
            }            
            if (i === 0) {
            	option.selected = true
            }
        	imageList.appendChild(option);
       		i++;
    	{% endfor %} 
    	imageList.addEventListener("change", () => {
            imageListIndex = imageList.selectedIndex  

            setCanvasBackground()            
        }) 

    }
	function b64()
	{
		var canvastemp = document.getElementById('canvas');
		alert(canvastemp.toDataURL())

	}
	const listenKeyboard = () => {
        const imageList = document.getElementById("imageList")
        const classList = document.getElementById("classList")

        document.addEventListener("keydown", (event) => {
            const key = event.keyCode || event.charCode            

            if (key === 37) {
                if (imageList.length > 1) {
                    imageList.options[imageListIndex].selected = false

                    if (imageListIndex === 0) {
                        imageListIndex = imageList.length - 1
                    } else {
                        imageListIndex--
                    }

                    imageList.options[imageListIndex].selected = true
                    imageList.selectedIndex = imageListIndex

                    setCanvasBackground() 
                    document.body.style.cursor = "default"
                }

                event.preventDefault()
            }

            if (key === 39) {
                if (imageList.length > 1) {
                    imageList.options[imageListIndex].selected = false

                    if (imageListIndex === imageList.length - 1) {
                        imageListIndex = 0
                    } else {
                        imageListIndex++
                    }

                    imageList.options[imageListIndex].selected = true
                    imageList.selectedIndex = imageListIndex

                   setCanvasBackground() 

                    document.body.style.cursor = "default"
                }

                event.preventDefault()
            }
            
        })
    }
    function setAnnotations(){
        var wells="Wells";
       
        if (annots==-1) {
          alert("Image not in database");                                             
        }
        else{                            
            annotsp=JSON.parse(annots)   
            /*if(annotsp.length<=0){
                document.getElementById("btnSave").disabled = false;
            } 
            else{
                document.getElementById("btnSave").disabled = false; 
            } */ 
            if(showAnnotations){        
                $('#eye').removeClass('glyphicon-eye-open');
                $('#eye').addClass('glyphicon-eye-close');
        
                for(i=0;i<annotsp.length;i++){
                    ctx.lineWidth = 2;
                    if(annotsp[i].class_label==wells){
                        ctx.strokeStyle = "cyan";
                        ctx.fillStyle = "rgba(00,255,255,0.01)";
                        ctx.lineWidth = 2;
                        // ctx.strokeRect(annotsp[i].top_left_x, annotsp[i].top_left_y, annotsp[i].width, annotsp[i].height)
                    }                     

                    ctx.beginPath();
                    geometryJSON=JSON.parse(annotsp[i].geometryJSON)
                    var type=geometryJSON.type
                    if(type=="circle"){
                        var center=geometryJSON.center;
                        var radius=geometryJSON.radius;
                        ctx.strokeStyle = "cyan";
                        ctx.fillStyle = "rgba(00,255,255,0.01)";                        
                        ctx.arc(center.x, center.y, radius, 0, 2 * Math.PI, false);
                        ctx.stroke();
                        ctx.fill();
                    }
                    if(type=="polygon"){
                        var pixCoords=geometryJSON.pixelCoords;
                        var totalPts=geometryJSON.pixelCoords.length;
                        ctx.moveTo(pixCoords[0].x, pixCoords[0].y);
                        ctx.strokeStyle = "cyan";
                        ctx.fillStyle = "rgba(00,255,255,0.2)";
                        for(pt=1;pt<totalPts;pt++){         
                            ctx.lineTo(pixCoords[pt].x, pixCoords[pt].y);   
                            ctx.stroke(); 
                        }                                           
                        ctx.lineTo(pixCoords[0].x, pixCoords[0].y);   
                        ctx.stroke(); 
                        ctx.closePath();
                        ctx.fill();
                    }
                }
            }
            else{
                $('#eye').removeClass('glyphicon-eye-close');
                $('#eye').addClass('glyphicon-eye-open');
            }
        }
    }
    function deleteImageAndAnnotations(){
        
        var selectedOption=imageList.options[imageListIndex]
        var selectedImgName=selectedOption.innerHTML;
        $.ajax({
                type:"POST",
                    url: 'ajax/delete_image_and_annotations',
                    data: {                
                        'image_name': selectedImgName               
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.status==1) {              
                            imageList.removeChild(selectedOption)
                            ctx.clearRect(0, 0, canvas.width, canvas.height);
                            imageListIndex=0;
                            setCanvasBackground()
                        }
                        if (data.status==-1) { 
                            alert("Error Deleting File. File does not exist.")
                        }
                    },         
                    error: function(xhr, textStatus, errorThrown) {
                        console.log(errorThrown)
                        alert("Something went wrong.");
                    }
            });
    }
    function approveImage(approveFlag){
        var selectedOption=imageList.options[imageListIndex]
        var selectedImgName=selectedOption.innerHTML;        
        $.ajax({
                type:"POST",
                    url: 'ajax/approve_image',
                    data: {                
                        'image_name': selectedImgName,
                        'approve_flag':approveFlag             
                    },
                    dataType: 'json',
                    success: function (data) {
                        if (data.status==1) {  
                           console.log(approveFlag) 
                           if(approveFlag=="true"){
                            selectedOption.setAttribute("approveFlag","true")
                           }
                           if(approveFlag=="false") {
                            selectedOption.setAttribute("approveFlag","false")
                           }                           
                           setCanvasBackground()
                        }
                        if (data.status==-1) { 
                            alert("Something went wrong")
                        }
                    },         
                    error: function(xhr, textStatus, errorThrown) {
                        console.log(errorThrown)
                        alert("Something went wrong.");
                    }
            });
    }
    /*---------Event Listeners----------*/
    $('#btnDelete').click(function(e){
        var r = confirm("This sample with annotations and markers will be permanently deleted. Are you sure you want to delete?");
          if (r == true) {
            deleteImageAndAnnotations()
          }        
    })
    $('#btnApprove').click(function(e){        
        approveImage("true")
    })
    $('#btnDisapprove').click(function(e){          
        approveImage("false")
    })
    $('#toggleAnnotations').click(function(e){
        showAnnotations=!showAnnotations;        
        setCanvasBackground();
        setAnnotations();
    })
    /*-------Event Listeners End--------*/


	initialize();
</script>