<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <title>Satellite Image Labelling Tool</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 50px;
      border-radius: 0;
    }
    
    /* Remove the jumbotron's default bottom margin */ 
     .jumbotron {
      margin-bottom: 0;
    }
   
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>

<div class="page-header">
  <div class="container text-center">
    <h1>Satellite Image Labeling Tool</h1>      
    <!-- <p></p> -->
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <!-- <a class="navbar-brand" href="#">Logo</a> -->
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <!-- <li class="active"><a href="#">Home</a></li> -->
        <!-- <li><a href="#">Products</a></li>
        <li><a href="#">Deals</a></li>
        <li><a href="#">Stores</a></li>
        <li><a href="#">Contact</a></li> -->
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Your Account</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-shopping-cart"></span> Cart</a></li> -->
      </ul>
    </div>
  </div>
</nav>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
	  <a href="labelwells">
      <div class="panel panel-primary">
        <div class="panel-heading"><center>Label Dug Wells</center></div>
        <div class="panel-body"><img src="{% static 'Gmapv2/screenshots/well_label.jpg' %}" class="img-responsive" style="width:100%" alt="Image"></div>
        <!-- <div class="panel-footer">Buy 50 mobiles and get a gift card</div> -->
      </div>
	  </a>
    </div>
    <div class="col-sm-4">
	<a href="displayimageswells">
      <div class="panel panel-primary">
        <div class="panel-heading"><center>View Dug Wells Dataset</center></div>
        <div class="panel-body"><img src="{% static 'Gmapv2/screenshots/well_view.jpg' %}" class="img-responsive" style="width:100%" alt="Image"></div>
        <!-- <div class="panel-footer">Buy 50 mobiles and get a gift card</div> -->
      </div>
	</a>
    </div>
    <div class="col-sm-4"> 
	  <a href="showmarkerswells">
      <div class="panel panel-primary">
        <div class="panel-heading"><center>View labeled Dug Wells on Map</center></div>
        <div class="panel-body"><img src="{% static 'Gmapv2/screenshots/well_map.jpg' %}" class="img-responsive" style="width:100%" alt="Image"></div>
        <!-- <div class="panel-footer">Buy 50 mobiles and get a gift card</div> -->
      </div>
	  </a>
    </div>
  </div>
</div><br><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
	<a href="labelfarmponds">
      <div class="panel panel-primary">
        <div class="panel-heading"><center>Label Farm Ponds</center></div>
        <div class="panel-body"><img src="{% static 'Gmapv2/screenshots/fp_label.jpeg' %}" class="img-responsive" style="width:100%" alt="Image"></div>
        <!-- <div class="panel-footer">Buy 50 mobiles and get a gift card</div> -->
      </div>
	</a>  
    </div>
    <div class="col-sm-4">
      <a href="displayimagesfarmponds">	
      <div class="panel panel-primary">
        <div class="panel-heading"><center>View Farm Pond Dataset</center></div>
        <div class="panel-body"><img src="{% static 'Gmapv2/screenshots/fp_view.jpeg' %}" class="img-responsive" style="width:100%" alt="Image"></div>
        <!-- <div class="panel-footer">Buy 50 mobiles and get a gift card</div> -->
      </div>
	  </a>
    </div>
    <div class="col-sm-4">
	  <a href="showmarkersfarmponds">	
      <div class="panel panel-primary">
        <div class="panel-heading"><center>View labeled Farm Ponds on Map</center></div>
        <div class="panel-body"><img src="{% static 'Gmapv2/screenshots/fp_map.jpeg' %}" class="img-responsive" style="width:100%" alt="Image"></div>
        <!-- <div class="panel-footer">Buy 50 mobiles and get a gift card</div> -->
      </div>
	  </a>
    </div>
  </div>
</div><br><br>

<div class="container">    
  <div class="row">
    <div class="col-sm-4">
	<a href="labelcheckdams">
      <div class="panel panel-primary">
        <div class="panel-heading"><center>Label Checkdams</center></div>
        <div class="panel-body"><img src="{% static 'Gmapv2/screenshots/cd_label.jpg' %}" class="img-responsive" style="width:100%" alt="Image"></div>
        <!-- <div class="panel-footer">Buy 50 mobiles and get a gift card</div> -->
      </div>
	</a>  
    </div>  
    <div class="col-sm-4">
	  <a href="displayimagescheckdams">
      <div class="panel panel-primary">
        <div class="panel-heading"><center>View Checkdams Dataset</center></div>
        <div class="panel-body"><img src="{% static 'Gmapv2/screenshots/fp_view.jpeg' %}" class="img-responsive" style="width:100%" alt="Image"></div>
        <!-- <div class="panel-footer">Buy 50 mobiles and get a gift card</div> -->
      </div>
	  </a>
    </div>
    <div class="col-sm-4"> 
	  <a href="showmarkerscheckdams">
      <div class="panel panel-primary">
        <div class="panel-heading"><center>View labeled Checkdams on Map</center></div>
        <div class="panel-body"><img src="{% static 'Gmapv2/screenshots/fp_map.jpeg' %}" class="img-responsive" style="width:100%" alt="Image"></div>
        <!-- <div class="panel-footer">Buy 50 mobiles and get a gift card</div> -->
      </div>
	  </a>
    </div>
  </div>
</div><br><br>



<footer class="container-fluid text-center">
  <!-- <p>Online Store Copyright</p>  
  <form class="form-inline">Get deals:
    <input type="email" class="form-control" size="50" placeholder="Email Address">
    <button type="button" class="btn btn-danger">Sign Up</button>
  </form> -->
</footer>

</body>
</html>
